<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link th:href="@{/blog/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/blog/fontawesome/css/all.css}" rel="stylesheet">
    <link th:href="@{/blog/css/style.css}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="wrapper">
    <!-- menu -->
    <div th:insert="blog/components/menu::menu"></div>
    <!-- end menu -->
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <!-- heading -->
            <h2>I'm Banner Heading for This Page</h2>
            <!-- paragraph -->
            <p>It is our belief that in order to be most efficient it requires adaptive technology and software our
                customers can focus on their core business.</p>
        </div>
    </div>
    <!-- banner end -->

    <!-- after banner -->
    <div th:insert="blog/components/after::after"></div>
    <!-- after banner end-->

    <!-- events -->
    <div th:insert="blog/components/event::event"></div>
    <!-- events end -->

    <!-- blog -->
    <div th:insert="blog/components/blog::blog"></div>
    <!-- blog end -->

    <!-- subscribe -->
    <div th:insert="blog/components/suscribe::suscribe"></div>
    <!-- subscribe end -->

    <!-- team -->
    <div th:insert="blog/components/team::team"></div>
    <!-- team end -->

    <!-- footer -->
    <footer th:replace="blog/components/footer::footer"></footer>
    <!-- end footer -->
</div>
<!-- Javascript files -->
<script th:src="@{/blog/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/blog/js/bootstrap.min.js}"></script>
<script th:src="@{/blog/js/respond.min.js}"></script>
<script th:src="@{/blog/js/html5shiv.js}"></script>
<script th:src="@{/blog/js/custom.js}"></script>
</body>
</html>