<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<!-- suscribe -->
<div th:fragment="suscribe" class="subscribe" id="subscribe">
    <div class="container">
        <!-- subscribe content -->
        <div class="sub-content">
            <h3>Subscribe Here for Updates</h3>
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email...">
                    <span class="input-group-btn">
							<button class="btn btn-default" type="button">Subscribe</button>
						</span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>
<!-- end suscribe -->
</body>
</html>